
.item-container .item{
    width: 250px;
    min-width: 250px;
    border: 1px solid #e7cce3;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: .3s ease;
    margin: 20px;
    padding: 10px;
}

.item-container .item .img-box{
    width: 100%;
    height: 40vh;
    padding: 10px;
    background: #dbdbdb;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container .item .img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s ease;
}

.item-container .item .des{
    text-align: start;
    padding: 10px 0;
}

.item-container .item .des h5{
    padding-top: 7px;
    color:#1a1a1a;
    font-size: 14px;
}

.item-container .item .des .item-prices{
    text-align: start;
    padding: 10px 0;
}

.item-container .item .des .star{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.items p{
    margin: 6px 0px;
}

.item-prices{
    display: flex;
    gap: 20px;
}

.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old{
    color: #374151;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
    opacity: 0.7;
}

